S3_ENDPOINT="s3-host"
S3_REGION="us-east-1"
S3_ACCESS_KEY="access-key"
S3_SECRET_KEY="secret"
S3_BUCKET_NAME="paintress-bucket"

USE_S3_STORAGE=false

LOCAL_FS_ROOT="./notes"

SQLITE_DB_PATH=./paintress-v1.db

API_KEY = "<openssl rand -hex 64>"
CORS_ORIGIN=*

PORT=3000
HOSTHAME=0.0.0.0